* {
	font-family: monospace;
}

body {
	background-color: powderblue;
	text-align: center;
}

#title {
	margin-top: 20px;
	margin-bottom: 45px;
	text-align: center;
	font-size: 120px;
}

#name {
    width: 250px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    vertical-align: bottom;
}

#submit {
	height: 31px;
	background-color: #cc6699;
	border-color: #bf4080;
	border-radius: 5px;
	border-width: 2px;
	vertical-align: bottom;
}
