* {
	font-family: monospace;
}

body {
	background-color: powderblue;
	text-align: center;
	margin-top: 150px;
}

#title {
	color: green;
	font-size: 50px;
	margin-bottom: 100px;
}

.button {
	font-size: 24px;
	height: 75px;
	width: 75px;
	border: none;
	outline: none;
	background-color: white;
	transition: 0.1s;
	border-radius: 3px;
}

div {
	margin-top: 10px;
}

#result {
	margin-top: 25px;
	height: 50px;
	width: 318px;
	font-size: 30px;
	border-radius: 5px;
	outline: none;
	text-align: right;
}

#result:focus {
	text-decoration: none;
}

#parenthesis {
	width: 34px;
	margin: 0px;
	padding: 0px;
}

.functionButton {
	background-color: #004d4d;
	color: white;
	font-size: 24px;
	height: 75px;
	width: 75px;
	border: none;
	outline: none;
	transition: 0.1s;
	border-radius: 3px;
}

.button:hover {
	background-color: #00ffff;
}

.button:active {
	background-color: #99ffff;
	transition: 0s;
}

.functionButton:hover {
	background-color: #009999;
}

.functionButton:active {
	background-color: #1affff;
}

#calcBackground {
	background-color: orangered;
	position: absolute;
	height: 530px;
	width: 380px;
	border: solid orangered 8px;
	right: 780px;
	top: 250px;
	border-radius: 15px;
}

#version {
	font-size: 15px;
	position: absolute;
	bottom: -5px;
	right: 15px;
}
